<div class="row">
  <h1 style="text-align: center"> 全栈营项目学习计时器 </h1>
</div>

<br><br>

<div class="container">
  <% @standard_cases.each do |item| %>
    <div class="col-md-3">
      <div class="thumbnail text-center" id="case_thumbnail_<%= item.id %>">
        <%= link_to case_path(item) do %>
          <% if item.image.present? %>
            <%= image_tag(item.image.thumb.url, class: "image-thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/320x240&text=.", class: "image-thumbnail") %>
          <% end %>
          <div class="caption">
            <h3><%= item.title %></h3>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% unless @private_cases.blank? %>
  <hr>
  <% @private_cases.each do |item| %>
    <div class="col-md-3">
      <div class="thumbnail" id="case_thumbnail_<%= item.id %>">
        <%= link_to case_path(item) do %>

          <div class="caption">
            <h3><%= item.title %></h3>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>


