<div class="row">
  <h1 style="text-align: center"> 全栈营项目学习计时器 </h1>
</div>

<div class="row">
  <% @standard_cases.each do |item| %>
    <div class="col-md-4">
      <div class="thumbnail" id="case_thumbnail_<%= item.id %>">
        <%= link_to case_path(item) do %>
          <div class="caption">
            <h2><%= item.title %></h2>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% unless @private_cases.blank? %>
  <% @private_cases.each do |item| %>
    <div class="col-md-4">
      <div class="thumbnail" id="case_thumbnail_<%= item.id %>">
        <%= link_to case_path(item) do %>
          <div class="caption">
            <h2><%= item.title %></h2>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

