<!-- <script src="//cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js"></script> -->

  <div class="row">
    <h1 style="text-align: center"> <%= @case.title %> </h1>
  </div>

  <br><br>

  <%# unless @grades.empty? %>
  <div class="row">
    <%= link_to tasks_path(case_id: @case) do %>
      <div class="col-md-5 col-md-offset-1">
        <canvas id="my_round_time_chart" width="400" height="200"></canvas>
      </div>

      <div class="col-md-5">
        <canvas id="my_day_round_chart" width="400" height="200"></canvas>
      </div>
    <% end %>
  </div>
  <%# end %>

  <br>
    <div class="row text-center">
    <%= link_to("排行榜", ranking_case_path, class: "btn btn-default") %>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <table class="table table-striped text-center">
        <tbody>
          <tr>
            <td><small>平均用时</small> <h3><%= average_time_of(@grades) %></h3></td>
            <td><small>练习次数</small> <h3><%= round_of(@grades) %></h3></td>
          </tr>
          <tr>
            <td><small>最快纪录</small> <h3><%= fastest_time_of(@grades) %></h3></td>
            <td><small>总练习时长</small> <h3><%= total_time_of(@grades) %></h3></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default col-md-4" id="realtime_task" style="height: 220px; overflow-y: scroll;">
      <% @realtime_tasks.each do |item| %>
        <%= render partial: "tasks/task", locals: {task: item} %>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="progress">
        <div class="progress-bar progress-bar-info" id="my_goal_progress" role="progressbar" aria-valuenow="<%= @current_percent %>"
        aria-valuemin="0" aria-valuemax="100" style="<%= "width: #{@current_percent}" %>">
          目标<%= @favor.goal %>次,已完成<%= @current_percent %>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
      <% unless current_user.is_super_admin? %>

        <div class="row pull-right">
          <%= form_tag update_goal_case_path(@case), class: "form-inline", id: "my_goal_form" do %>
            <label for="">目标练习遍数：</label>
            <%= text_field_tag "goal", @favor.goal , class: "form-control text-center", id: "my_goal_label", style: "width: 50px;", disabled: true %>
            <button class="btn btn-primary", id="my_goal_edit_btn">更改</button>
            <%= submit_tag "保存", class: "btn btn-danger", style: "display: none;", id: "my_goal_update_btn" %>
          <% end %>
        </div>
      
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle pull-left" data-toggle="dropdown">
            <%= "模版#{@task_templates_groups.index(@favor.group)+1}" %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">                
            <% @task_templates_groups.each_with_index do |group, index| %>
              <li><%= link_to("模版#{index+1}", select_template_case_path(@case, group_id: group), method: :post) %></li>
            <% end %>
          </ul>
        </div>
      
      
        <%= link_to new_task_templates_group_path(case_id: @case), class:"btn btn-default pull-left" do %>
          <span style="color: red;">+ </span>创建新模版
        <% end %>

      <% end %>

      <br><br><br>

      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th class="text-center">步骤</th>
            <th class="text-center">步骤描述</th>
            <th class="text-center">步骤计时</th>
            <th class="text-center">计时</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each_with_index do |task, index| %>
              <tr>
                <td class="col-md-3">第<%= index+1 %>步</td>
                <td class="col-md-3"><%= task.title %></td>
                <% t = @tasks.find{|x| !x.practice_time.present?} %>
                <% if task.practice_time.present? %>
                  <td class="col-md-3"><span id="timer_label_<%= task.id %>"><%= task.practice_time_str %></span></td>
                  <td class="col-md-3"></td>
                <% else %>
                  <td class="col-md-3"><span id="timer_label_<%= task.id %>"></span></td>
                  <td class="col-md-3">
                    <% unless current_user.is_super_admin? %>
                      <% if t == task %>
                        <%= button_tag('开始', id:"my_start_btn_#{task.id}", class: "btn btn-info", disabled_with: "starting...") %>
                        <%= button_tag('暂停', id:"my_pause_btn_#{task.id}", class: "btn btn-default", style: "display: none;", disabled_with: "pausing...") %>
                        <%= button_tag('继续', id:"my_restart_btn_#{task.id}", class: "btn btn-default", style: "display: none;") %>
                        <%= link_to "停止", update_timer_case_path(@case), id:"my_stop_btn_#{task.id}", class: "btn btn-danger", style: "display: none;", disabled_with: "Stoping..." %>
                        <%= button_tag('停止通知', id: "my_stop_notify_#{task.id}", style: "display: none;") %>
                      <% else %>
                        <%= button_tag('开始', id:"my_start_btn_#{task.id}", class: "btn btn-info", style: "display: none;", disabled_with: "starting...") %>
                        <%= button_tag('暂停', id:"my_pause_btn_#{task.id}", class: "btn btn-default", style: "display: none;", disabled_with: "starting...") %>
                        <%= button_tag('继续', id:"my_restart_btn_#{task.id}", class: "btn btn-default", style: "display: none;") %>
                        <%= link_to "停止", update_timer_case_path(@case), id:"my_stop_btn_#{task.id}", class: "btn btn-danger", style: "display: none;", disabled_with: "Stoping..."%>
                        <%= button_tag('停止通知', id: "my_stop_notify_#{task.id}", style: "display: none;") %>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
          <% end %>

        </tbody>
      </table>
      <h4>总计： <span id="my_total_time_label"><%= @grade.round_time_str %></span></h4>
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      <h4 class="center" id="my_finish_label"></h4>
      <%= link_to("再练习一次", case_path(@case), class:"btn btn-info", style: "display: none;", id: "my_refresh_btn") %>
    </div>
  </div>

  <br><br>




<script>

var countUpDate
var x
var distance
var history_time = 0;
var task_index
var isPaused = false;

function myTimer() {
  var now = new Date().getTime();
  // var k = Math.floor(Date.now() / 1000);
  distance = now - countUpDate;

  document.getElementById("timer_label_"+task_index).innerHTML = humanize(parseInt((distance + history_time)/1000))
}

$('[id^="my_start_btn_"]').on('click', function(){
    isPaused = false;
    countUpDate = new Date();
    task_index = $(this).attr('id').replace( /\D+/g, '');
    x = setInterval(function(){
      if(!isPaused){
        myTimer();
      } 
    }, 1000);
    $(this).hide();
    $("#my_stop_btn_"+task_index).show();
    $("#my_pause_btn_"+task_index).show();
})

$('[id^="my_pause_btn_"]').on('click', function(evt){
  evt.preventDefault();
  task_index = $(this).attr('id').replace( /\D+/g, '');
  isPaused = true;
  $(this).hide();
  $("#my_restart_btn_"+task_index).show();
})

$('[id^="my_restart_btn_"]').on('click', function(evt){
  history_time += distance;
  countUpDate = new Date();
  console.log(countUpDate);
  evt.preventDefault();
  task_index = $(this).attr('id').replace( /\D+/g, '');
  isPaused = false;
  $(this).hide();
  $("#my_pause_btn_"+task_index).show();
})

$('[id^="my_stop_btn_"]').on('click', function(evt){
  evt.preventDefault();
  clearInterval(x);
  var url = $(this).attr("href")

  $.ajax({
    url: url,
    method: "POST",
    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
    dataType: "json",
    data: {
      practice_time: (distance+history_time),
      task_id: parseInt(task_index)
    },
    success: function(data){
      var practice_time = data["practice_time"];
      $("#timer_label_"+task_index).replaceWith('<span id="timer_label_' + data["task_id"] + '">' + practice_time + '</span>');
      $("#my_total_time_label").text(data["total_time"]);
      $("#my_stop_btn_"+task_index).hide();
      next_index = parseInt(task_index)+1;
      console.log(next_index)
      if (data["finish"] == "") {
        $("#my_start_btn_"+next_index).show();
      }else{
        $("#my_finish_label").text(data["finish"]);
        $("#my_refresh_btn").show();
        $("#my_goal_progress").css("width", data["current_percent"]);
        $("#my_goal_progress").text("完成" + data["current_percent"]);
      }
      $("#my_pause_btn_"+task_index).hide();
      $("#my_restart_btn_"+task_index).hide();
      $("#my_stop_notify_"+task_index).click();
    }
  })

  distance = 0;
  history_time = 0;
})


function myStopFunction() {
  clearInterval(x);
  distance = 0;
  document.getElementById("demo").innerHTML = 0 + "小时 "
  + 0 + "分 " + 0 + "秒 ";
}

function myStartFunction() {

  countUpDate = new Date();
  x = setInterval(function(){myTimer()}, 1000);
}

//目标更新
$("#my_goal_edit_btn").click(function(event){
  event.preventDefault();
  $(this).hide();
  $("#my_goal_update_btn").show();
  $("#my_goal_label").prop("disabled", false);
})

$("#my_goal_update_btn").click(function(event){
  event.preventDefault();
  var url = $("#my_goal_form").attr("action");
  var round = $("#my_goal_label").val();

  $.ajax({
    url: url,
    method: "POST",
    dataType: "json",
    data: {
      goal: round,
    },
    success: function(data){
      $("#my_goal_label").prop("disabled", true);
      $("#my_goal_label").val(data["goal"])
      $("#my_goal_edit_btn").show();
      $("#my_goal_update_btn").hide();
      $("#my_goal_progress").css("width", data["current_percent"]);
      $("#my_goal_progress").text("完成" + data["current_percent"]);
    }
  })
})

//每遍用时图表
var ctx = document.getElementById("my_round_time_chart");

function humanize(secs){
  if (secs == 0){
    return "0秒";
  }
  var a = [[60, "秒"],[60, "分"],[24, "小时"],[1000, "天"]].map(function(x){
    if (secs > 0) {
      m = secs%x[0];
      secs = Math.floor(secs/x[0]);
      return (m + x[1])
    }
  }).filter(x => !!x).reverse().join(' ')
  
  return a;
  
}

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @grades.empty? ? [1,2,3] : [*1..@grades.count] %>,
        datasets: [{
            label: '每轮练习用时',
            data: <%= @grades.empty? ? [0,0,0] : @grades.map{|g| g.round_time} %>,
            // borderWidth: 1
            backgroundColor: 'rgba(0, 0, 0, 0)',
            borderColor: 'rgba(255, 99, 132, 0.7)'

        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    callback: function(value, index, values) {
                      return humanize(parseInt(value/1000));
                    }
                }
            }]
        },
        tooltips: {
          callbacks: {
              label: function(tooltipItems, data) {
                return humanize(parseInt(tooltipItems.yLabel/1000));
              }
          }
      }
    }
});

  //practice time per day
  var ptpd = document.getElementById("my_day_round_chart");

  var my_day_round_chart = new Chart(ptpd, {
      type: 'bar',
      data: {
          labels: <%= raw @grades.empty? ? (3.day.ago.to_date..Date.today).to_a.to_json : (@grades.first.updated_at.to_date..Date.today).to_a.to_json   %>,
          datasets: [{
              label: '每天完成次数',
              data: <%= @grades.empty? ? [0,0,0] : @grades.unscoped.group_by_day(:updated_at).count.values %>,
              // borderWidth: 1
              backgroundColor: 'rgba(127, 190, 221, 0.5)',
              // borderColor: 'rgba(255, 99, 132, 0.7)'

          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

</script>
