<div class="col-md-4 col-md-offset-4">
<div class="page-header">
<h3>创建一个新的练习模版</h3>
</div>
<%= link_to "返回", case_path(@case), class: "btn btn-default pull-right" %>
<br><br>

<%= simple_form_for  @group do |f| %>
	<%= f.nested_fields_for :task_templates do |ff| %>
		
		<div class="well">
			<div class="form-inline">
				<div class="form-group">
					<%= ff.input :title, label: "第#{f.object.templates.find_index(ff.object).to_i + 1}步：" %>
				</div>
				<%= ff.remove_nested_fields_link "移除这个步骤", class: "btn btn-danger" %>
			</div>
		</div>

		
	<% end %>
	<p class="text-right">
		<%= f.add_nested_fields_link :task_templates, "新增步骤", class: "btn btn-default" %>
	</p>
	<%= hidden_field_tag "case_id", @group.case.id %>
	<%= f.submit "提交", class: "btn btn-default" %>
<% end %>

</div>


<script>
	
	$(document).on('fields_added.nested_form_fields', function(event, param){

		t_str = $(event.target).prev().find(".control-label").text();
		t_index_str = t_str.replace( /\D+/g, '');
		t_index = parseInt(t_index_str)+1;
		$(event.target).find(".control-label").html('第' + t_index + '步：');

	})

</script>